@font-face {
  font-family: "Gentium";
  src: url("/static/font/GentiumPlus-R.ttf") format('truetype'),
       url("/static/font/GentiumPlus-R.svg") format('svg');
  font-weight: normal;
}

@font-face {
  font-family: "Lauvinko Handwritten";
  src: url("/static/font/LauvinkoHandwritten-Normal.ttf") format('truetype'),
       url("/static/font/LauvinkoHandwritten-Normal.otf") format('opentype');
  font-weight: 400;
}
