/* {
	transition-duration: .3s;
	transition-timing-function: ease;
}*/

$paragraph_font_size: 1.75vh;
$paragraph_padding: 1em;
$border_width: 2px;

p, .paragraph, input[type="text"] {
  font-size: $paragraph_font_size;
  text-align: justify;
  padding: $paragraph_padding;
  margin: 0;
}

.falavay {
  font-family: "Lauvinko Smooth Serif";
}

span.falavay {
  font-size: 1.6vh;
}

td.falavay {
  font-size: 2.5vh;
}

h1.falavay {
  font-size: 3.25vh;
}

h1, h2, h3, p, .paragraph, li, td, th, input[type="text"] {
  font-family: "Gentium", serif;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 3.25vh;
}

h2 {
  font-size: 2.5vh;
  margin: 15px 0;
}

h3, li, td, th {
  font-size: 2vh;
  margin: 10px 0;
}

a, a:hover, a:not([href]) {
  color: #007f00 !important;
  text-decoration: none;
}

a:not([href]) {
  cursor: pointer;
}

div.scroll {
  overflow: scroll;
  border-style: solid;
  border-width: $border_width;
  border-color: #f0f0f0;
}

p.go-up {
  text-align: center;
}

div.go-down div, button {
  border-style: solid;
  border-width: $border_width;
  border-color: #f0f0f0;
  border-radius: 20px;
  display: table;
  text-align: center;
  margin: 1vh 0;
  padding: 1em;
  width: 100%;
  color: #007f00;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  div.go-down div {
    height: 10vh;
  }
}

div.go-down div h3 {
  display: table-cell;
  vertical-align: middle;
}

div.go-down div h3, button {
  font-weight: 900;
}

td.merge-above {
  border-radius: 0;
  transform: translateY(-2px);
  background-color: white;
}

ul {
  list-style-type: none;
  padding: 0 2em 1em;
  text-align: left;
}

li, td, th, hr, input[type="text"] {
  margin: 0;
  padding: 10px;
  border-radius: 15px;
  border-style: solid;
  border-width: $border_width;
  border-color: transparent;
}

li .paragraph {
  padding-bottom: 0;
}

div.go-down div:hover, div.go-down div.selected, a:hover li, button:hover {
  background-color: #8fc78f;
  border-color: black;
  color: white;
  font-weight: 900;

  h3 {
    color: white;
    font-weight: 900;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #f0f0f0;
  border-radius: 5px;
}

#mainframe {
  align-items: center;
  text-align: center;
  padding-bottom: 10vh;
}

.image-inset {
  padding: 0 calc(20vw - 12vh);
  font-size: 1.5vh;
  color: #444;
  text-align: center;

  img {
    max-width: 100%;
    max-height: 40vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.entry {
  position: relative;
}

.entry > * {
  text-align: left;
}

th, td , hr, input[type="text"] {
  border-color: #f0f0f0;
}

hr {
  padding: 0;
  margin: 5vh 10vw;
}

th, .bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.abbrev {
  font-variant: small-caps;
}

.analysis {
  font-size: 1.6vh;
}

table {
  white-space: nowrap;
  margin: auto;
}

table.inline {
  margin: 1em 0;
}

div.gloss {
  max-width: 100%;
  margin: 5px 0;
  padding: 5px;
  border-width: $border_width;
  border-style: solid;
  border-color: #007f00;
  border-radius: 5px;
  width: fit-content;
  display: inline-block;
  position: relative;

  div {
    overflow-x: scroll;
  }

  p.footer {
    padding: 0;
    position: absolute;
    bottom: 2px;
    right: 4px;
  }

  table td {
    border: none;
    padding: 2px;
    text-align: left;
  }
}

.romanization {
  font-style: italic;
}

ul {
  margin: 0;
}

li.inline {
  padding: 0;
}

li.inline:before {
  content: "۞";
  margin-left: -4px;
  position: absolute;
  padding-top: $paragraph_padding;
  font-size: $paragraph_font_size;
}
